.ToDoList {
    text-align: center;
    font-family: "ToDo List", sans-serif;
    /* margin: 20rem; */
    padding: 50px;
    background-color: #faeef8;
    border: rgb(247, 210, 239);
    box-shadow: 0 0 20px rgb(233, 9, 9);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 40%;
    margin-top: 18%;
}
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color:rgb(243, 24, 60)#f4f4f4;
    border-radius: 5px;
  }
  
  li.completed {
    text-decoration: line-through;
    color:whitesmoke;
  }
  
  span {
    cursor: pointer;
  }
  
  button {
    background-color: #e1eb58;
    color:rgb(240, 9, 67);
    border: none;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #0b22ee;
  }