.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar a {
    color: rgb(241, 5, 5);
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-shadow: 1rem;
  }
  
  .navbar a:hover {
    background-color: #575757;
  }